body{
    margin: 0;
    padding: 0;
}
.frame{
    height: 100vh;
    width: 100%;
    background-image: url(Ferruccio\ Lamborghini.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame1{
    height: 100vh;
    width: 100%;
    background-image: url(V12.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame2{
    height: 100vh;
    width: 100%;
    background-image: url(350GTV.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame3{
    height: 100vh;
    width: 100%;
    background-image: url(Urraco.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame4{
    height: 100vh;
    width: 100%;
    background-image: url(LM002.jpg );
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame5{
    height: 100vh;
    width: 100%;
    background-image: url(Cala.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame6{
    height: 100vh;
    width: 100%;
    background-image: url(Murcielago.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame7{
    height: 100vh;
    width: 100%;
    background-image: url(Gallardo.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame8{
    height: 100vh;
    width: 100%;
    background-image: url(Miura\ Concept.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame9{
    height: 100vh;
    width: 100%;
    background-image: url(LP-570\ Superleggera.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame10{
    height: 100vh;
    width: 100%;
    background-image: url(Sesto\ Elemento.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame11{
    height: 100vh;
    width: 100%;
    background-image: url(Egoista.jpg);
    background-size: cover;
    background-position: center;
    display: table;
}
.Frame12{
    height: 100vh;
    width: 100%;
    background-image: url(Centenario.jpg);
    background-size: cover;
    background-position: center;
    display: table;
}
.Frame13{
    height: 100vh;
    width: 100%;
    background-image: url(Aentador\ SVJ\ Roadster.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.Frame14{
    height: 100vh;
    width: 100%;
    background-image: url(Sian.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

